body {
  background-image: url(images/back.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  color:#404040;
}




.carousel-item {
  height: 10rem;
  
}


/* Navbar */

/* Jumbo */

 #home {
  margin-top: 10vh;
 }

 .hero-image {
  height: 300px;
  width: 300px;
  margin-top: 5vh;
}

/*Portfolio*/

#work-margin {

  margin-top: 5vh;
}
.carousel-inner {
  display: flex;
  justify-content: center;
  padding-right: 20vw;
  height: 60vh;
}

#carouselExample {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 60vh;
}

.card {
  height
}



/*Skills*/

#skillLearn {
  max-width: 10vw;
  gap: 1rem;
}



/*About Me / Contact Me*/

#about {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

#aboutContact {
  padding-top: 10vh;
}




